* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 100%;
}

.navigation {
    height: 57px;
    background-color: white;
    position: static;
}

nav {
    display: flex;
}

.ul-links1 {
    display: flex;
    margin-left: 39.2%;
    margin-top: 19px;
}

li {
    list-style-type: none;
}

.ul-links1 li a {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
    margin-left: 35px;
    font-size: 12.5px;
}

.logo {
    margin-left: 11%;
    height: 15px;
    margin-top: 20px;
}

.plans {
    margin-left: 35px;
    width: 100px;
    height: 40px;
    height: 30px;
    margin-top: 15px;
    background-color: white;
    font-size: 11px;
    text-transform: uppercase;
}

.insurance {
    background-color: hsl(256, 26%, 20%);
    padding-top: 6%;
    height: 36rem;
    padding-bottom: 6%;
    position: relative;
    display: flex;
    width: 100%;
}

hr {
    width: 130px;
}

.h1-left {
    padding-top: 7%;
    font-size: 60px;
    color: white;
}

.para1 {
    color: white;
    margin-top: 4%;
    font-size: 18px;
    line-height: 26px;
}

.container {
    position: relative;
}

.intro-right {
    position: absolute;
    top: 0%;
    left: 75%;
    width: 21.2rem;
}

.intro-left {
    position: absolute;
    top: 26rem;
    
}

.image-intro {
    width: 30rem;
    margin-left: 5.5rem;
}

.image-intro {
    position: absolute;
    left: 47%;
}

.left {
    margin-left: 11%;
}

.plans_b {
    width: 130px;
    height: 40px;
    margin-top: 25px;
    font-size: 11px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.sub-section {
    display: flex;
    margin-top: 4%;
}

.second-section {
    margin-top: 20%;
    margin-left: 155px;
}

.hr2 {
    width: 130px;
    height: 2px;
    color: gray;
}

.diff {
    font-size: 50px;
    margin-top: 3%;
}

.image-icon {
    width: 23%;
}

.snappy {
    font-size: 22px;
    margin-top: 6%;
}

.affordable {
    font-size: 22px;
    margin-top: 3.4%;
}

.people {
    font-size: 22px;
    margin-top: 4.5%;
}

.sub2 {
    margin-left: 4%;
}

.sub3 {
    margin-left: 4%;
}

.trip-p {
    margin-top: 5%;
    line-height: 25px;
    color: gray;
}

.third-section {
    background-color: hsl(256, 26%, 20%);
    margin-left: 155px;
    width: 77%;
    margin-top: 8%;
    display: flex;
    height: 170px;
    position: relative;
    background-image: url('./images/bg-pattern-intro-right-desktop.svg');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: right;
    background-position-y: 36%;
}

.find {
    color: white;
    font-size: 36px;
    margin-left: 48px;
    margin-top: 40px;
}

.how-we-work {
    width: 120px;
    height: 35px;
    margin-top: 67px;
    font-size: 11px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-left: 48%;
}

.how-we-work:hover {
    background-color: white;
    color: hsl(270, 9%, 17%);
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    margin-top: 85px;
    background-color: hsl(0, 0%, 98%);
    background-image: url('./images/bg-pattern-footer-desktop.svg');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: left;
    height: 35%;
}

.first-section {
    display: flex;
    margin-left: 155px;
    padding-top: 4%;
    padding-bottom: 2%;
}

.logo2 {
    height: 15px;
}

.icon {
    width: 13%;
    margin-left: 10px;
}

.icon:hover {
    cursor: pointer;
    opacity: 0.6;
}

.icons {
    margin-left: 68%;
}

.footer-hr {
    margin-left: 155px;
    width: 76.7%;
    color: hsl(273, 4%, 51%);
}

.second-section2 {
    display: flex;
    margin-left: 155px;
    margin-top: 2%;
}

.ul-links2 {
    list-style-type: none;
}

.ul-links2 a {
    text-decoration: none;
    color: hsl(256, 26%, 20%);
    text-transform: uppercase;
    font-size: 11.5px;
    font-weight: bold;
    line-height: 30px;
    
}

.a-footer:hover {
    cursor: pointer;
    text-decoration: underline;
}

h4 {
    text-transform: uppercase;
    font-size: 12px;
    color:hsl(273, 4%, 51%);
    margin-bottom: 18%;
}

.help-me {
    margin-left: 14%;
}

.contact {
    margin-left: 14%;
}

.others {
    margin-left: 14%;
}



